.wave-svg {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 0;
  rotate: 180deg;
  overflow: hidden;

  /* filter: drop-shadow(
    0px -4px 2px rgba(29, 221, 242, 0.2)
  ); */

  background: url("data:image/svg+xml;utf8,\
    <svg viewBox='0 0 1440 320' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'>\
      <path fill='%230A3B59' d='M0,160 C360,320 1080,0 1440,160 L1440,320 L0,320 Z' />\
    </svg>")
    repeat-x bottom;
  background-size: 200% 100%;
  animation: waveScroll 8s ease-in-out infinite;
}

@keyframes waveScroll {
  0%,
  100% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 25%;
  }
}

.wave-glow {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 0;
  pointer-events: none;
  box-shadow: 0 -10 20px 6px rgba(29, 221, 242, 1);
  filter: blur(8px);
  opacity: 0.7;
}