.wave-border {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    top: 90;
    height: 60px;
    background: #0A3B59;
    z-index: -1;
    transform: rotate(180deg);
    animation: waveClip 8s ease-in-out infinite;
    clip-path: path(
      "M0,40 C360,80 1080,0 1440,40 L1440,80 L0,80 Z"
    );
  }
  
  @keyframes waveClip {
    0%, 100% {
      clip-path: path("M0,40 C360,80 1080,0 1440,40 L1440,80 L0,80 Z");
    }
    50% {
      clip-path: path("M0,30 C400,60 1040,60 1440,20 L1440,80 L0,80 Z");
    }
  }
  